.balls {
    display: inline-block;
    width: 26px;
    height: 28px;
    margin: 1px;
    line-height: 25px;
    background: url(../public/images/winn-numbers-ball.png) no-repeat;
    color: #00675A;
    font-size: 15px;
    text-align: center;
}

.raffle {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    max-width: 500px;
    min-width: 150px;
    background: #ffffff;
    border: 1px solid #2c929f;
}

.regWeight {
    font-weight: normal;
}

.nextJackpot {
    float: right;
    height: 80px;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;
    border-left: 1px solid #efece3;
}
.jackpot{
    float: left;
    height: 80px;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.currentNumbers .nextJackpot {
    float: right;
    height: 98px;
    margin-right: 32px;
    padding-left: 20px;
    border-left: 1px solid #efece3;
}

.ticketNum {
    display: block;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

#ticketSubmit {
    margin-left: 230px;
    margin-right: auto;
    margin-top: 10px;
}

.inputTicket {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    width: 80px;
    height: 80px;
    background: lightgoldenrodyellow;
    border-radius: 50%
}

.raffleButton{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.gameBalls
{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}